/*========= Arrumando tabela no mobile ============*/

html {
  font-size: 40%;
}

/*Alinha ao centro*/
.responsive-table {
  justify-content: center;
}

/*Ajusta as bordas da tabela */
.especie-table td ~ td {
  border-left: 0;
}

.especie-table tr > .last-coluwn {
  border-bottom: 0.5rem solid white;
}

.especie-table .last-line .last-coluwn {
  border-bottom: 0;
}

/*Remove os titulos*/
.especie-table th {
  display: none;
}

/*Cria varias tabelas*/
.especie-table td {
  display: flex;
  flex-direction: column;
}

/*Coloca os os titulos novamente com o data-title*/
.especie-table td::before {
  content: attr(data-title);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--secoudary-color);
  padding: 1.6rem;
}

/*=== Ajustando intro ==*/
/*Cola a tartaruga com o titulo*/
.intro-content {
  align-content: center;
}
