:root {
  /* ==== CORES DO SITE ====*/
  --color: 126; /* VERDE*/
  --primary-color: hsl(var(--color), 75%, 17%);
  --secoudary-color: hsl(125, 24.7%, 42.2%);
  --white-color: hsl(0, 0%, 90%);
  --gap: 3rem; /*Espaçamento*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

/*Fonte dos titulos*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
/*Tamanho dos titulos*/
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

p {
  margin-bottom: 3rem;
}
/*Fundo verde com cor branca no texto*/
.main-bg {
  background-image: url('../_img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}
/*FUndo  branco fonte verde*/
.white-bg {
  color: var(--primary-color);
  background-color: white;
}
/*Margin, espaçamento e  altura maxima */
.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.landing-section {
  min-height: 100vh; /*Faz com que cada sessão da landing page ocupe toda a tela*/
}

/*======================================================*
 *                        MENU                          *
 *======================================================*/

/*Deixa o menu fixo*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--white-color);
  z-index: 1;
}

/*Separa a logo  do menu um em cada canto*/
.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
/*Deixa os elementos do menu um do lado do outro*/
.menu ul {
  list-style: none;
  display: flex;
}
/*define a como block para que ele defina o tamanho da barra do menu*/
.menu ul a {
  display: block;
  color: inherit;
  padding: 2rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}
/*Criando animação ao colocar o cursor*/
.menu ul a::after {
  content: '';
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 0%; /*Oculta a barra*/
  background-color: var(--secoudary-color);
  height: 0.2rem;
  transition: all 300ms ease-in-out;
}
/* Mostra a barra quando tiver com o cursor em cima*/
.menu ul a:hover::after {
  width: 50%; /*Mostra a barra*/
  left: 25%; /*Faz com que a animaçao comece do meio e va ate as bordas*/
}
/*Definições do logo*/
.logo {
  max-width: 30rem;
  width: 100%;
}

.logo img {
  height: auto;
  max-height: 5rem;
}
/*Como o menu é fixo, é necessário dar um espaço entre ele e a section*/
.menu-space {
  height: 6.3rem;
}

/*=========================================================*
 *                      INTRO                              *
 *=========================================================*/

/*Cria uma grid  com duas colunas*/
.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
  /*subindo um pouco o conteúdo pra compensar o menu-space*/
  position: relative;
  top: -8%;
}
/*Deixa os textos alinhados no centro do seu fragmento da grid*/
.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
/*Titulo */
.intro-text-content h1 {
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
}
/*Imagem da tartaruga*/
.intro-img img {
  max-width: 100%;
  height: auto;
}

/*=========================================================*
 *                      TARTARUGAS?                        *
 *=========================================================*/
/*Flex que centraliza o conteúdo*/
.turtle-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
/*Guarda a imagem das tartarugas e o titulo da sessão*/
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10%;
}
/*Tamanho das tartarugas que ficam ao lado do titulo*/
.turtle-float {
  max-width: 10rem;
}

.turtle-float img {
  width: 100%;
}
/*Inverte a tartaruga da direita*/
.title h2 + .turtle-float img {
  transform: rotatey(180deg);
}

/*largura maxima do conteúdo e tipo de alinhamento do texto*/
.turtle-description-content {
  max-width: 64rem;
  text-align: justify;
}

.turtle-description-content h2 {
  text-align: center;
}
/*Tira a margem apenas do primeiro paragrafo para que o addres nao fique descolado*/
.turtle-description .title + p {
  margin-bottom: 0;
}

/*Parte que linka pro site da lei do ibama*/
address {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: left;
}
/*Deixando os links com a cor padrao*/
.turtle-description-content a {
  color: inherit;
}
/*Alterando a cor do enfase*/
.turtle-description-content em {
  font-weight: 700;
}

/*===========================================* 
 *                  MOTIVOS                  *
 *===========================================*/

.motivos-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  max-width: 120rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter; /*contador que vai ser usado no pseudo elemento*/
}
/*Diminuindo tamanho dos sub-titulos*/
.grid h3 {
  font-size: 3rem;
  position: relative; /*Segura o ::before dentro dele*/
  padding-left: 5rem;
  padding-bottom: 3rem;
}
/*Pseudo elemento que vai ter os numeros 1, 2 e 3 do lado de cada motivo*/
.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter); /*Numero 1,2 e 3*/
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg); /*Rodando os numeros*/
}

.description {
  margin-bottom: 10rem;
}
